<div class="row">
    <nav>
      <h1 class="appName">Reddit Clone</h1>
      <input class="searchField" type="text" ng-model="searchText" placeholder="Search...">
      <button class="addPost" ng-click="displayNewForm()">+ New Post</button>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <form ng-show="showNewForm" name="newPost" ng-submit="addPost(post)">
        <div class="row">
        <div class="six columns">
          <label for="postTitle">Post Title</label>
          <input required type="text" name="postTitle" ng-minlength="2" class="u-full-width" ng-model="post.title" id="postTitle">
          <p class="error" ng-show="newPost.postTitle.$error.minlength">Title is too short.</p>
          <p class="error" ng-show="newPost.postTitle.$error.required">Title is required</p>
        </div>
        <div class="six columns">
          <label for="posterName">Username</label>
          <select class="u-full-width" ng-model="post.user_id">
            <option ng-repeat="user in posts" value="{{user.user_id}}">{{ user.username }}
            </option>
          </select>
        </div>
        </div>
        <div class="row">
        <div class="six columns">
          <label for="postImg">Post Image</label>
          <input required name="postImg" type="text" class="u-full-width" ng-model="post.image_url" placeholder="starts with http://">
          <p class="error" ng-show="newPost.postImg.$error.required">Image is required</p>
        </div>
        <div class="six columns">
          <label for="posterLoc">Poster Location</label>
          <input required name="posterLoc" ng-minlength="2" type="text" class="u-full-width" ng-model="post.location" id="posterLoc">
          <p class="error" ng-show="newPost.posterLoc.$error.required">Location is required</p>
          <p class="error" ng-show="newPost.posterLoc.$error.minlength">Location is too short.</p>
        </div>
        </div>
        <div class="row">
        <div class="twelve columns">
          <label for="postDescrip">Post Description</label>
          <textarea required name="postDescrip" ng-minlength="5" ng-maxlength="200" ng-model="post.content" class="u-full-width"></textarea>
          <p class="error" ng-show="newPost.postDescrip.$error.required">Description is required.</p>
          <p class="error" ng-show="newPost.postDescrip.$error.minlength">Description is too short.</p>
          <p class="error" ng-show="newPost.postDescrip.$error.maxlength">Description has exceeded limit</p>
        </div>
        </div>
        <button type="submit">Add New Post</button>
      </form>
    </div>
    <div class="singlePost row" ng-repeat="post in posts | orderBy: '-score' | filter:searchText">
      <div class="three columns">
        <img class="postImg u-full-width" ng-src="{{ post.image_url }}" />
      </div>
      <div class="nine columns">
        <p class="score">{{ post.score }}</p>
        <a ng-click="post.score = post.score + 1"><i class="score fa fa-arrow-up"></i></a>
        <a ng-click="post.score = post.score - 1"><i class="score fa fa-arrow-down"></i></a>
        <h3 class="postTitle">{{ post.title }}</h3>
        <p class="descrip">{{ post.content }}</p>
        <p>Submitted by: {{ post.username }} in {{ post.location }} on {{ post.post_date | date: "EEEE MMM d, yyyy 'at' h:mm:ss a" }}</p>
        <a ng-click="getComments(post.post_id)">
        <i class="fa fa-comment"></i> {{post.comments.length}} comments
        </a>|
        <a ng-click="showCommentsForm()">
          <i class="fa fa-pencil-square-o"></i> Write New Comment
        </a>
        <div ng-show="comments">
        <p class="comments" ng-repeat="comment in allComments">
          {{ comment.username }}: {{ comment.comment }}
        </p>
        </div>
        <form ng-show="commentsForm" ng-submit="addComment(post.post_id, comment)">
          <select class="u-full-width" ng-model="comment.user_id">
            <option ng-repeat="user in posts" value="{{user.user_id}}">{{ user.username }}
            </option>
          </select>
          <label for="comment">Comment</label>
          <textarea class="u-full-width" ng-model="comment.comment"></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>